<section id="portfolio" class="wow fadeInUp">
    <div class="container">
        <div>
            <h2>{{ 'despas.title.gallery'|trans }}</h2>
            <div class="pull-left content-filter">
                <button class="filter active" data-filter=".all">Tous</button> - <button data-filter=".nude" class="filter">Nus</button> - <button data-filter=".portrait" class="filter">Portraits</button> - <button data-filter=".other" class="filter">Autres</button>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="grid">
            <div class="grid__item all nude" data-size="1080x1080">
                <a href="images/galeries/aurelie.png" class="img-wrap"><img src="images/galeries/aurelie_thumb.png" alt="aurelie_thumb" />
                    <div class="description description--grid">
                        <h3>Extase</h3>
                        <div class="details">
                            <ul>
                                <li><i class="fa fa fa-paint-brush"></i><span>Huile sur toile</span></li>
                                <li><i class="fa fa-info-circle"></i><span>120 x 120 cm</span></li>
                                <li><i class="fa fa fa-eur"></i><span>Contactez moi</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="grid__item all nude" data-size="771x1080">
                <a href="images/galeries/eve.png" class="img-wrap"><img src="images/galeries/eve_thumb.png" alt="aurelie_thumb" />
                    <div class="description description--grid">
                        <h3>Eve</h3>
                        <div class="details">
                            <ul>
                                <li><i class="fa fa fa-paint-brush"></i><span>Huile sur toile</span></li>
                                <li><i class="fa fa-info-circle"></i><span>50 x 70 cm</span></li>
                                <li><i class="fa fa fa-eur"></i><span>Contactez moi</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="grid__item all nude" data-size="685x1080">
                <a href="images/galeries/julie.png" class="img-wrap"><img src="images/galeries/julie_thumb.png" alt="aurelie_thumb" />
                    <div class="description description--grid">
                        <h3>Féline</h3>
                        <div class="details">
                            <ul>
                                <li><i class="fa fa fa-paint-brush"></i><span>Huile sur toile</span></li>
                                <li><i class="fa fa-info-circle"></i><span>130 x 95 cm</span></li>
                                <li><i class="fa fa fa-eur"></i><span>Contactez moi</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="grid__item all nude" data-size="850x1080">
                <a href="images/galeries/lucrece.png" class="img-wrap"><img src="images/galeries/lucrece_thumb.png" alt="aurelie_thumb" />
                    <div class="description description--grid">
                        <h3>Lucrèce</h3>
                        <div class="details">
                            <ul>
                                <li><i class="fa fa fa-paint-brush"></i><span>Huile sur toile</span></li>
                                <li><i class="fa fa-info-circle"></i><span>65 x 81 cm</span></li>
                                <li><i class="fa fa fa-eur"></i><span>Contactez moi</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="grid__item all nude" data-size="784x1080">
                <a href="images/galeries/mathieu.png" class="img-wrap"><img src="images/galeries/mathieu_thumb.png" alt="aurelie_thumb" />
                    <div class="description description--grid">
                        <h3>L'Homme perdu</h3>
                        <div class="details">
                            <ul>
                                <li><i class="fa fa fa-paint-brush"></i><span>Huile sur toile</span></li>
                                <li><i class="fa fa-info-circle"></i><span>73 x 54 cm</span></li>
                                <li><i class="fa fa fa-eur"></i><span>Contactez moi</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="grid__item all nude" data-size="740x1080">
                <a href="images/galeries/melanie.png" class="img-wrap"><img src="images/galeries/melanie_thumb.png" alt="melanie2_thumb" />
                    <div class="description description--grid">
                        <h3>Totem</h3>
                        <div class="details">
                            <ul>
                                <li><i class="fa fa fa-paint-brush"></i><span>Huile sur toile</span></li>
                                <li><i class="fa fa-info-circle"></i><span>130 x 90 cm</span></li>
                                <li><i class="fa fa fa-eur"></i><span>Contactez moi</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="grid__item all nude" data-size="716x1080">
                <a href="images/galeries/melanie2.png" class="img-wrap"><img src="images/galeries/melanie2_thumb.png" alt="melanie_thumb" />
                    <div class="description description--grid">
                        <h3>Enivrez-vous</h3>
                        <p>
                            Il faut être toujours ivre. Tout est là : c’est l’unique question. Pour ne pas sentir l’horrible fardeau du Temps qui brise vos épaules et vous penche vers la terre, il faut vous enivrer sans trêve. Mais de quoi ? De vin, de poésie ou de vertu, à votre guise. Mais enivrez-vous.
                            <em>&mdash; Charles Baudelaire</em>
                        </p>
                        <div class="details">
                            <ul>
                                <li><i class="fa fa fa-paint-brush"></i><span>Huile sur toile</span></li>
                                <li><i class="fa fa-info-circle"></i><span>146 x 97 cm</span></li>
                                <li><i class="fa fa fa-eur"></i><span>Contactez moi</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="grid__item all nude" data-size="724x1080">
                <a href="images/galeries/brigitte.png" class="img-wrap"><img src="images/galeries/brigitte_thumb.png" alt="melanie_thumb" />
                    <div class="description description--grid">
                        <h3>Brigitte</h3>
                        <p>
                            - Tu vois mon derrière dans la glace ?<br>
                            - Oui !<br>
                            - Tu les trouves jolies mes fesses ?<br>
                            - Oui, très !<br>
                            - Et mes seins tu les aimes ?<br>
                            - Oui, énormément !<br>
                            - Qu’est ce que tu préfères mes seins ou la pointe de mes seins ?<br>
                            - Je sais pas, c’est pareil !<br>
                            - Et mes épaules tu les aimes ?<br>
                            - Oui !<br>
                            - Je trouve qu’elles sont pas assez rondes. Et mes bras ? Et mon visage ?<br>
                            - Aussi !<br>
                            - Tout ? Ma bouche, mes yeux, mon nez, mes oreilles ?<br>
                            - Oui, tout !<br>
                            - Donc tu m’aimes totalement ?<br>
                            - Oui, je t’aime totalement, tendrement, tragiquement !<br>

                            <em>&mdash; Le Mépris de Jean-Luc Godard</em></p>
                        <div class="details">
                            <ul>
                                <li><i class="fa fa fa-paint-brush"></i><span>Huile sur toile</span></li>
                                <li><i class="fa fa-info-circle"></i><span>100 x 63 cm</span></li>
                                <li><i class="fa fa fa-eur"></i><span>Contactez moi</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="grid__item all other" data-size="1134x1080">
                <a href="images/galeries/hell.png" class="img-wrap"><img src="images/galeries/hell_thumb.png" alt="hell_thumb" />
                    <div class="description description--grid">
                        <h3>L'enfer c'est les Autres</h3>
                        <div class="details">
                            <ul>
                                <li><i class="fa fa fa-paint-brush"></i><span>Huile sur toile</span></li>
                                <li><i class="fa fa-info-circle"></i><span>120 x 120 cm</span></li>
                                <li><i class="fa fa fa-eur"></i><span>Contactez moi</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="grid__item all other" data-size="810x1080">
                <a href="images/galeries/window.png" class="img-wrap"><img src="images/galeries/window_thumb.png" alt="aurelie_thumb" />
                    <div class="description description--grid">
                        <h3>Fenêtre sur cour</h3>
                        <div class="details">
                            <ul>
                                <li><i class="fa fa fa-paint-brush"></i><span>Fusain</span></li>
                                <li><i class="fa fa-info-circle"></i><span>110 x 290 cm</span></li>
                                <li><i class="fa fa fa-eur"></i><span>Contactez moi</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="preview">
            <button class="action action--close"><i class="fa fa-times"></i><span class="text-hidden">Close</span></button>
            <div class="description description--preview"></div>
        </div>
    </div>
</section>