{# languages.html.twig #}
    {% for lang in ezpublish.availableLanguages %}
        {# This time, we alter the "siteaccess" parameter directly. #}
        {# We get the right siteaccess with the help of ezpublish.translationSiteAccess() helper #}
        {% if lang != currentLanguage %}
        	{% do routeRef.set( "siteaccess", ezpublish.translationSiteAccess( lang ) ) %}
            <li class="padding-navbar">
                <a href="{{ url( routeRef ) }}"><span class="flag-icon flag-icon-{{ lang|lower|split('-')[1] }}"></span></a>
            </li>
        {% endif %}
    {% endfor %}