<section id="news">
    <div class="container">
        <h2>{{ 'despas.title.news'|trans }}</h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="col-sm-6">
                        <img src="images/actu.png" class="img-responsive">
                    </div>
                    <div class="col-sm-6">
                        <h3>MyRankArt : 8ème Salon de Peinture</h3>
                        <p>Découvrez ma réalisation "Féline" parmi les 25 finalistes sélectionnées par le Jury pour ce 8ème salon de Peinture.</p>
                        <p>
                            <a href="http://www.myrankart-leblog.com/les-25-oeuvres-finalistes" target="_blank">Lien</a>
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="col-sm-6">
                        <img src="images/actu2.png" class="img-responsive">
                    </div>
                    <div class="col-sm-6">
                        <h3>YICCA : International Contest of Contemporary Art</h3>
                        <p>Participation à la 6ème édition du YICCA qui se déroulera à Rome en septembre 2015. Retrouvez ma réalisation "Enivrez-vous" qui a recueilli pour le moment plus de 1000 j'aime à l'Open Contest.</p>
                        <p>
                            <a href="http://yicca.org/contest/artwork/165/enivrez-vous" target="_blank">Lien</a>
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="col-sm-6">
                        <img src="images/actu3.png" class="img-responsive">
                    </div>
                    <div class="col-sm-6">
                        <h3>MyRankArt : 5ème Salon de Peinture</h3>
                        <p>Retrouvez ma réalisation "Totem" qui a été primée par le Jury parmi plus de 200 oeuvres. Elle obtient le 10e prix du Jury, un bon début! </p>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>