{% extends "AppSiteBundle::pagelayout.html.twig" %}
{% block content %}
    <div class="col-xs-12">
            <div class="row">
                <h2>MENTIONS LÉGALES</h2>
                <h3>IDENTIFICATION</h3>
                <p>Conformément aux dispositions des articles 6-III et 19 de la loi pour la Confiance dans l’Économie Numérique, nous vous informons que :</p>
                <p>Le présent site est la propriété de la micro-entreprise MOV.IDIET dont le siège social est situé à l’adresse suivante :</p>
                <p>
                    <b>MOV.IDIET</b><br>
                    <b>973 avenue de la Chalosse</b><br>
                    <b>40140 MAGESCQ – FRANCE</b><br>
                    Courrier électronique : <a href="mailto:progmovidiet@gmail.com">progmovidiet@gmail.com</a><br>
                    Tél. : 06 15 46 02 91
                </p>
                <p>Directeur de la publication du site web : Anne-Laure Mas</p>
                <p>Coordonnées de l’hébergeur : OVH</p>
                <h3>LIMITATION DE RESPONSABILITÉ</h3>
                <p>L’utilisateur reconnaît avoir pris connaissance des présentes conditions d’utilisation et s’engage à les respecter.</p>
                <p>L’utilisateur du site internet « <a href="https://movidiet.fr">https://movidiet.fr</a>» reconnaît disposer de la compétence et des moyens nécessaires pour accéder et utiliser ce site.</p>
                <p>L’utilisateur du site « <a href="https://movidiet.fr">https://movidiet.fr</a> » reconnaît avoir vérifié que la configuration informatique utilisée ne contient aucun virus et qu’elle est en parfait état de fonctionnement.</p>
                <p>MOV.IDIET met tout en œuvre pour offrir aux utilisateurs des informations et/ou des outils disponibles et vérifiés mais ne saurait être tenu responsable des erreurs, d’une absence de disponibilité des fonctionnalités et/ou de la présence de virus sur son site.</p>
                <p>Les informations fournies par MOV.IDIET le sont à titre indicatif et ne sauraient dispenser l’utilisateur d’une analyse complémentaire et personnalisée.</p>
                <p>MOV.IDIET ne saurait garantir l’exactitude, la complétude, l’actualité des informations diffusées sur son site.</p>
                <p>En conséquence, l’utilisateur reconnaît utiliser ces informations sous sa responsabilité exclusive.</p>
                <p>L’ensemble de ces droits s’exerce auprès de MOV.IDIET, par courrier accompagné d’une copie d’un titre d’identité comportant une signature à adresser à :</p>
                <p>
                    <b>MOV.IDIET</b><br>
                    <b>973 avenue de la Chalosse</b><br>
                    <b>40140 MAGESCQ – FRANCE</b>
                </p>
                <h3>PROPRIÉTÉ INTELLECTUELLE</h3>
                <p>Conformément au code de la Propriété intellectuelle et plus généralement à tous les accords comportant des dispositions relatives au droit d’auteur, la reproduction partielle ou totale de textes, d’images ou d’illustrations non destinées explicitement à être téléchargées par les visiteurs, sont interdites sans autorisation du propriétaire ou de tout ayant-droit. </p>
            </div>
    </div>
{% endblock %}