{% extends "DespasSiteBundle::pagelayout.html.twig" %}

{% block content %}
    <nav id="mainNav" class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header padding-navbar">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Benjamin Despas</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a class="page-scroll" href="#news">Actualités</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Biographie</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Galerie</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="btn btn-social-icon btn-fb" href="https://www.facebook.com/despasbenjaminart/" target="_blank"><i class="fa fa-facebook-official"></i></a>
                    </li>
                    <li>
                        <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/despasbenjaminart/" target="_blank"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                        <a class="btn btn-social-icon btn-contact page-scroll" href="mailto:benjamindespas@gmail.com"><i class="fa fa-envelope-o"></i></a>
                    </li>
                    <!--li class="padding-navbar">
                        <a class="page-scroll" href="#"><span class="flag-icon flag-icon-us"></span></a>
                    </li-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <section id="homepage" class="no-padding">
    </section>
    <section id="news">
        <div class="container">
            <h2>Actualités</h2>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="col-sm-6">
                            <img src="images/actu.png" class="img-responsive">
                        </div>
                        <div class="col-sm-6">
                            <h3>MyRankArt : 8ème Salon de Peinture</h3>
                            <p>Découvrez ma réalisation "Féline" parmi les 25 finalistes sélectionnées par le Jury pour ce 8ème salon de Peinture.</p>
                            <p>
                                <a href="http://www.myrankart-leblog.com/les-25-oeuvres-finalistes" target="_blank">Lien</a>
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="col-sm-6">
                            <img src="images/actu2.png" class="img-responsive">
                        </div>
                        <div class="col-sm-6">
                            <h3>YICCA : International Contest of Contemporary Art</h3>
                            <p>Participation à la 6ème édition du YICCA qui se déroulera à Rome en septembre 2015. Retrouvez ma réalisation "Enivrez-vous" qui a recueilli pour le moment plus de 1000 j'aime à l'Open Contest.</p>
                            <p>
                                <a href="http://yicca.org/contest/artwork/165/enivrez-vous" target="_blank">Lien</a>
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="col-sm-6">
                            <img src="images/actu3.png" class="img-responsive">
                        </div>
                        <div class="col-sm-6">
                            <h3>MyRankArt : 5ème Salon de Peinture</h3>
                            <p>Retrouvez ma réalisation "Totem" qui a été primée par le Jury parmi plus de 200 oeuvres. Elle obtient le 10e prix du Jury, un bon début! </p>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <h2>Biographie</h2>
            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                    <h3>À propos</h3>
                    <p>
                        Benjamin Despas est un jeune artiste plasticien, né en 1990 à Reims dans le nord-est de la France. Il vit et travaille à Montpellier.
                    </p>
                    <p>
                        Passionné de dessin dès son plus jeun âge, il début ses études artistiques à l’université de Valenciennes. Il y découvre le modèle vivant, ce qui l’amène rapidement à se spécialiser dans la représentation du corps. Dés lors, celui-ci devient un enjeu de sa pratique artistique, il profite de ces trois années d’études pour expérimenter les supports et les médiums (photographie, fusain, peinture, collage etc.)
                    </p>
                    <p>
                        A la suite de l’obtention de son master recherche à l’université de Montpellier il décide de lancer sa carrière artistique en 2015. Ses études lui ont permis de comprendre sa démarche, maîtriser la technique du clair-obscur et le médium de la peinture monochrome.
                    </p>
                    <h3>Démarche artistique</h3>
                    <p>
                        Son processus de création naît de la volonté de représenter le corps, le mettre en scène entre ombres et lumières. Dans une société de consommation de l’image et avec l’avènement du culte du corps, il désire donner une autre vision de celui-ci. Loin des fantasmes publicitaires et de leurs proportions anatomiques, ou encore la représentation du corps réifié au rang d’objet. Il veut donner l’image d’un corps construit et révélé dans ce qu’il a de plus intime, de plus beau. Il oriente peu à peu son travail vers le nu, et une représentation réaliste et anatomique héritée de la Grèce antique et de la mimesis.
                    </p>
                    <p>
                        Son désir et de partir de la réalité pour donner une vision sensuelle et singulière du corps mis en scène par un simple éclairage clair-obscur quia  pour but de valoriser le modèle, montrer ce qu’il a de beau en lui. C'est avant tout un travail sociologique dans lequel il privilégie l'entretien avec ses modèles en quête de satisfaction personnelle.
                    </p>
                    <p>
                        En passant par la peinture, la lumière et l’intensité de l’éclairage, le modèle se découvre, apprend à se connaître et tend à s’accepter, accepter la représentation que le peintre construit de lui.
                    </p>
                    <h3>Et après?</h3>
                    <p>
                        En 2016, l'artiste se lance dans un nouveau projet interculturel où le corps est toujours présent. Il décide de réaliser des portraits monochromes de différentes ethnies avec la technique du clair-obscur afin de souligner le côté égalitaire de l'ensemble des individus de ce monde.
                    </p>
                </div>
                <div class="col-sm-6 wow fadeInUp">
                    <img data-src="images/profil.png" class="img-responsive lazyload">
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio" class="wow fadeInUp">
        <div class="container">
            <div>
                <h2>Galerie</h2>
                <div class="pull-left content-filter">
                    <button class="filter active" data-filter=".all">Tous</button> - <button data-filter=".nude" class="filter">Nus</button> - <button data-filter=".portrait" class="filter">Portraits</button> - <button data-filter=".other" class="filter">Autres</button>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="grid">
                <div class="grid__item all nude" data-size="1080x1080">
                    <a href="images/galeries/aurelie.png" class="img-wrap"><img src="images/galeries/aurelie_thumb.png" alt="aurelie_thumb" />
                        <div class="description description--grid">
                            <h3>Extase</h3>
                            <div class="details">
                                <ul>
                                    <li><i class="fa fa fa-paint-brush"></i><span>Huile sur toile</span></li>
                                    <li><i class="fa fa-info-circle"></i><span>120 x 120 cm</span></li>
                                    <li><i class="fa fa fa-eur"></i><span>Contactez moi</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item all nude" data-size="771x1080">
                    <a href="images/galeries/eve.png" class="img-wrap"><img src="images/galeries/eve_thumb.png" alt="aurelie_thumb" />
                        <div class="description description--grid">
                            <h3>Eve</h3>
                            <div class="details">
                                <ul>
                                    <li><i class="fa fa fa-paint-brush"></i><span>Huile sur toile</span></li>
                                    <li><i class="fa fa-info-circle"></i><span>50 x 70 cm</span></li>
                                    <li><i class="fa fa fa-eur"></i><span>Contactez moi</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item all nude" data-size="685x1080">
                    <a href="images/galeries/julie.png" class="img-wrap"><img src="images/galeries/julie_thumb.png" alt="aurelie_thumb" />
                        <div class="description description--grid">
                            <h3>Féline</h3>
                            <div class="details">
                                <ul>
                                    <li><i class="fa fa fa-paint-brush"></i><span>Huile sur toile</span></li>
                                    <li><i class="fa fa-info-circle"></i><span>130 x 95 cm</span></li>
                                    <li><i class="fa fa fa-eur"></i><span>Contactez moi</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item all nude" data-size="850x1080">
                    <a href="images/galeries/lucrece.png" class="img-wrap"><img src="images/galeries/lucrece_thumb.png" alt="aurelie_thumb" />
                        <div class="description description--grid">
                            <h3>Lucrèce</h3>
                            <div class="details">
                                <ul>
                                    <li><i class="fa fa fa-paint-brush"></i><span>Huile sur toile</span></li>
                                    <li><i class="fa fa-info-circle"></i><span>65 x 81 cm</span></li>
                                    <li><i class="fa fa fa-eur"></i><span>Contactez moi</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item all nude" data-size="784x1080">
                    <a href="images/galeries/mathieu.png" class="img-wrap"><img src="images/galeries/mathieu_thumb.png" alt="aurelie_thumb" />
                        <div class="description description--grid">
                            <h3>L'Homme perdu</h3>
                            <div class="details">
                                <ul>
                                    <li><i class="fa fa fa-paint-brush"></i><span>Huile sur toile</span></li>
                                    <li><i class="fa fa-info-circle"></i><span>73 x 54 cm</span></li>
                                    <li><i class="fa fa fa-eur"></i><span>Contactez moi</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item all nude" data-size="740x1080">
                    <a href="images/galeries/melanie.png" class="img-wrap"><img src="images/galeries/melanie_thumb.png" alt="melanie2_thumb" />
                        <div class="description description--grid">
                            <h3>Totem</h3>
                            <div class="details">
                                <ul>
                                    <li><i class="fa fa fa-paint-brush"></i><span>Huile sur toile</span></li>
                                    <li><i class="fa fa-info-circle"></i><span>130 x 90 cm</span></li>
                                    <li><i class="fa fa fa-eur"></i><span>Contactez moi</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item all nude" data-size="716x1080">
                    <a href="images/galeries/melanie2.png" class="img-wrap"><img src="images/galeries/melanie2_thumb.png" alt="melanie_thumb" />
                        <div class="description description--grid">
                            <h3>Enivrez-vous</h3>
                            <p>
                                Il faut être toujours ivre. Tout est là : c’est l’unique question. Pour ne pas sentir l’horrible fardeau du Temps qui brise vos épaules et vous penche vers la terre, il faut vous enivrer sans trêve. Mais de quoi ? De vin, de poésie ou de vertu, à votre guise. Mais enivrez-vous.
                                <em>&mdash; Charles Baudelaire</em>
                            </p>
                            <div class="details">
                                <ul>
                                    <li><i class="fa fa fa-paint-brush"></i><span>Huile sur toile</span></li>
                                    <li><i class="fa fa-info-circle"></i><span>146 x 97 cm</span></li>
                                    <li><i class="fa fa fa-eur"></i><span>Contactez moi</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item all nude" data-size="724x1080">
                    <a href="images/galeries/brigitte.png" class="img-wrap"><img src="images/galeries/brigitte_thumb.png" alt="melanie_thumb" />
                        <div class="description description--grid">
                            <h3>Brigitte</h3>
                            <p>
                                - Tu vois mon derrière dans la glace ?<br>
                                - Oui !<br>
                                - Tu les trouves jolies mes fesses ?<br>
                                - Oui, très !<br>
                                - Et mes seins tu les aimes ?<br>
                                - Oui, énormément !<br>
                                - Qu’est ce que tu préfères mes seins ou la pointe de mes seins ?<br>
                                - Je sais pas, c’est pareil !<br>
                                - Et mes épaules tu les aimes ?<br>
                                - Oui !<br>
                                - Je trouve qu’elles sont pas assez rondes. Et mes bras ? Et mon visage ?<br>
                                - Aussi !<br>
                                - Tout ? Ma bouche, mes yeux, mon nez, mes oreilles ?<br>
                                - Oui, tout !<br>
                                - Donc tu m’aimes totalement ?<br>
                                - Oui, je t’aime totalement, tendrement, tragiquement !<br>

                                <em>&mdash; Le Mépris de Jean-Luc Godard</em></p>
                            <div class="details">
                                <ul>
                                    <li><i class="fa fa fa-paint-brush"></i><span>Huile sur toile</span></li>
                                    <li><i class="fa fa-info-circle"></i><span>100 x 63 cm</span></li>
                                    <li><i class="fa fa fa-eur"></i><span>Contactez moi</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item all other" data-size="1134x1080">
                    <a href="images/galeries/hell.png" class="img-wrap"><img src="images/galeries/hell_thumb.png" alt="hell_thumb" />
                        <div class="description description--grid">
                            <h3>L'enfer c'est les Autres</h3>
                            <div class="details">
                                <ul>
                                    <li><i class="fa fa fa-paint-brush"></i><span>Huile sur toile</span></li>
                                    <li><i class="fa fa-info-circle"></i><span>120 x 120 cm</span></li>
                                    <li><i class="fa fa fa-eur"></i><span>Contactez moi</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item all other" data-size="810x1080">
                    <a href="images/galeries/window.png" class="img-wrap"><img src="images/galeries/window_thumb.png" alt="aurelie_thumb" />
                        <div class="description description--grid">
                            <h3>Fenêtre sur cour</h3>
                            <div class="details">
                                <ul>
                                    <li><i class="fa fa fa-paint-brush"></i><span>Fusain</span></li>
                                    <li><i class="fa fa-info-circle"></i><span>110 x 290 cm</span></li>
                                    <li><i class="fa fa fa-eur"></i><span>Contactez moi</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="preview">
                <button class="action action--close"><i class="fa fa-times"></i><span class="text-hidden">Close</span></button>
                <div class="description description--preview"></div>
            </div>
        </div>
    </section>
{% endblock %}