<nav id="mainNav" class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header padding-navbar">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">{{ 'app.global.title'|trans|raw }}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            {% if not ez_is_field_empty(home, 'facebook_url') %}
                <li>
                    <a class="btn btn-social-icon btn-fb" href="{{ ez_field_value(home, 'facebook_url') }}" target="_blank"><i class="fa fa-facebook-official"></i></a>
                </li>
            {% endif %}
            {% if not ez_is_field_empty(home, 'instagram_url') %}
                <li>
                    <a class="btn btn-social-icon btn-instagram" href="{{ ez_field_value(home, 'instagram_url') }}" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
            {% endif %}
        </ul>
        <!-- Collect the nav links, forms, and other content for toggling -->
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>