<div class="clearfix"></div>
<footer>
    <div class="container">
        <a rel="author" href="http://lucasimonin.me" target="_blank">Lucas SIMONIN</a> ©
        <span id="copyright-year">{{ "now"|date("Y") }}</span> | 
        <a href="{{ path('condition-general') }}">Mentions légales</a>
    </div>
</footer>