<div class="clearfix"></div>
<footer>
    <div class="container">
        <a rel="nofollow" href="http://lucasimonin.me" target="_blank">Lucas SIMONIN</a> ©
        <span id="copyright-year">{{ "now"|date("Y") }}</span>
    </div>
</footer>