{% extends "AppSiteBundle::pagelayout.html.twig" %}
{% block content %}
    {% include 'AppSiteBundle::pagelayout/page_navigation_follow.html.twig' %}
    <section id="index" >
        <div class="container text-center">
            TEST

        </div>
    </section>
{% endblock %}