{% extends "AppSiteBundle::follow/common.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            {% include 'AppSiteBundle::follow/userinfo.html.twig' %}
            <div class="col-lg-12 panel-visit panel-basic">
                {% if not ez_is_field_empty(params.user, 'pdf_ration') %}
                    <div class="pull-right">
                        {% set route_reference = ez_route( 'ez_content_download', { 'content': params.user, 'fieldIdentifier': 'pdf_ration' } ) %}
                        <a href="{{ path( route_reference ) }}" class="btn btn-download">Télécharger votre livret</a>
                    </div>
                {% endif %}
                 {% if not ez_is_field_empty(params.user, 'ration_normal') or not ez_is_field_empty(params.user, 'ration_sos') %}
                    <h3>Rations journalière</h3>
                     {% if not ez_is_field_empty(params.user, 'ration_normal') %}
                    <div class="col-lg-{% if ez_is_field_empty(params.user, 'ration_sos') %}12{% else %}6{% endif %} ">
                        {{ ez_render_field(params.user, 'ration_normal') }}
                    </div>
                     {% endif %}
                     {% if not ez_is_field_empty(params.user, 'ration_sos') %}
                         <div class="col-lg-{% if ez_is_field_empty(params.user, 'ration_normal') %}12{% else %}6{% endif %}">
                         {{ ez_render_field(params.user, 'ration_sos') }}
                         </div>
                     {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}